@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cart {
        @apply absolute shadow-lg bg-white w-[300px] left-[85%] right-[85%] -translate-x-[50%]
         mt-4 text-sm rounded duration-300 origin-top
    }
}


    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
